body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #1a1a1d;
  padding: 10px;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 5px;
}

/* nav a.active{
  color: #24AFC1;
  font-weight: bold;
} */


.submit-button{
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #24Afc1;
  border-radius: 10px;
  color: #24Afc1;
}

.submit-button:hover{
  color: white;
  background-color: #24Afc1;
}
